<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd">

	<!--**** Advice Definition ****-->
	<bean id="beforeAdviceSample" class="com.yeep.study.spring.aopsample.advice.BeforeAdvice" />
	<bean id="afterAdviceSample" class="com.yeep.study.spring.aopsample.advice.AfterAdvice" />
	<bean id="aroundAdviceSample" class="com.yeep.study.spring.aopsample.advice.AroundAdvice" />
	<bean id="afterThrowAdviceSample" class="com.yeep.study.spring.aopsample.advice.AfterThrowAdvice" />

	<!--**** Service Defination ****-->
	<bean id="advicetarget" class="com.yeep.study.spring.aopsample.service.AdviceServiceImpl"></bean>

	<bean id="adviceSample" class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="proxyInterfaces">
			<value>com.yeep.study.spring.aopsample.service.AdviceService</value>
		</property>
		<property name="interceptorNames">
			<list>
				<value>beforeAdviceSample</value>
				<value>afterAdviceSample</value>
				<value>aroundAdviceSample</value>
				<value>afterThrowAdviceSample</value>
			</list>
		</property>
		<property name="target">
			<ref bean="advicetarget" />
		</property>
	</bean>


	<aop:aspectj-autoproxy/>

</beans>

